
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}       


body{
    background-color:  rgb(224, 230, 241);
}

.contenedor{
    text-align: center;
    background: rgb(155, 182, 228);


}

.peroso img{
    width: 350px;
    height: 250px;
    position:absolute;
    top:100px;
    left: 100px;
    object-fit: cover;
    transition: 0.3s;   
        
}
.peroso img:hover{
    transform: scale(2) rotate(20deg);

}
.obede img{
    width: 350px;
    height: 250px;
    position:absolute;
    top:100px;
    left: 500px;
    object-fit: cover;
    transition: 0.3s;   
}
.obede img:hover{
    transform: scale(2) rotate(20deg);

}

.convi img{
    width: 350px;
    height: 250px;
    position:absolute;
    top:100px;
    left: 900px;
    object-fit: cover;
    transition: 0.3s;   
}
.convi img:hover{
    transform: scale(2) rotate(20deg);

}

.crist{
    position: absolute;
    top: 380px;
    left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: brown;
}

.colo{
    color: darkblue;

}

.herm{
    color: green;
}

.pie{
    color: indigo;
}

.cristi img{
    width: 400px;
    height: 300px;
    position:absolute;
    top:450px;
    left: 800px; 
    object-fit: cover;
    transition: 0.5s;    
}
.cristi img:hover{
    transform: scale(1.5) rotate(30deg);
}


.boni{
    position: absolute;
    top: 370px;
    left: 930px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(247, 212, 15);
}

.centere img{
    width: 400px;
    height: 300px;
    position:absolute;
    top:950px;
    left: 530px; 
    display: flex;
}

.mari{
    position: absolute;
    top: 770px;
    left: 330px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(224, 66, 127);
    
}

.video{
    position: absolute;
    top: 850px;
    left: 50px;
}

.rrrr{
    color: red;
    font-size: 30px;
    text-align: center;
}
